//variables
$background:#252A38;
$darker-background:#151820;
$default-foreground: #DCDCDC;
$primary:#2985FF;

$regular-text:400;
$bold:600;
$lighter:300;



.Navbar {
    z-index: 2;
    position: relative;
    width: 100vw;
    height: 2em;
    
    // overflow: hidden;

    &__toggler {
      // float: right;
       background-color: transparent;
      border: none;
      z-index: 3;
      position: absolute;
      top:0;
      right:0;
      color: $default-foreground;
      height:2em;
  }

    &__links {
        display: none;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: $darker-background;
        margin-right: 0;
        position: absolute;
        top:0;
        z-index: 2;
        ul {
          list-style: none;
          padding: 0;
        }
      }
    

    
       
    &--expanded {
        .Navbar__links{
            display: flex;

        }
        
    }
      
  }

  

.main-container{
  height:3em;
}
